{% extends "layout.html" %}
{% block content %}
<h1>Edit Password</h1>

<form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="site" >Website Name</label>
        <input type="text" id="site" name="site" value="{{ entry.site }}" >
    </div>

    <div class="mb-3">
        <label for="password" >New Password</label>
        <input type="password" id="password" name="password">
    </div>

    
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

{% endblock %}